.contacts__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;

  max-width: 320px;
  margin: 0;
  padding-bottom: 19px;
  color: $color-elephant;
  min-height: 380px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding-bottom: 40px;
    min-height: 450px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;

    max-width: 1200px;
    padding: 119px 120px 95px;
    min-height: 380px;
  }
}

.contacts__text-wrapper {
  display: flex;
  flex-direction: column;

  padding: 20px 15px 30px;

  @media (min-width: $tablet-width) {
    padding: 60px 43px 40px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }

  p {
    font-size: 14px;
    font-weight: $regular;
    line-height: 20px;
    word-break: break-word;
    max-width: 268px;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 30px;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 24px;

      max-width: 480px;
      padding-bottom: 40px;
    }

    @media (min-width: $desktop-width) {
      max-width: 490px;
      padding-bottom: 49px;
    }
  }
}

.contacts__title {
  padding-top: 16px;
  padding-bottom: 17px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 26px;
    max-width: 490px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  width: 185px;
  margin: 0;
  padding: 0;

  flex-wrap: wrap;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;

    width: 678px;

    gap: 39px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;

    width: 500px;

    gap: 0;
  }
}

.contacts__item {
  display: grid;
  column-gap: 6px;
  row-gap: 7px;
  grid-template-columns: 26px 1fr;
  grid-template-rows: auto auto;

  @media (min-width: $tablet-width) {
    column-gap: 8px;
    row-gap: 6px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 30px;
    row-gap: 8px;
    padding-bottom: 35px;

    &--address {
      padding-bottom: 0;
    }
  }

  svg {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    width: 22px;
    height: 22px;

    @media (min-width: $tablet-width) {
      margin-top: -1px;
      width: 24px;
      height: 24px;
      align-self: flex-start;
      align-self: center;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
      width: 26px;
      height: 26px;
      align-self: center;
    }
  }
}

.contacts__item--phone .contacts__description,
.contacts__item--mail .contacts__description {
  &:hover {
    color: $color-navy-blue;
    opacity: 0.5;
  }

  &:focus {
    color: $color-navy-blue;
  }

  &:active {
    color: $color-resolution-blue;
    opacity: inherit;
  }

  &--disabled {
    pointer-events: none;

    color: $color-nobel;
  }

  &--disabled:focus {
    color: $color-default-white;
  }
}

.contacts__item-header {
  grid-column: 2 / 3;
  font-size: 14px;
  font-weight: $semi-bold;
  line-height: 14px;
  word-break: break-word;
  margin: 0;
  padding-bottom: 0px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 18px;
  }
}

.contacts__description {
  grid-column: 2 / 3;
  font-size: 14px;
  font-weight: $regular;
  line-height: 20px;

  margin: 0;

  text-decoration: none;
  word-break: break-word;
  color: inherit;

  @media (min-width: $tablet-width) {
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.contacts__picture {
  display: block;

  width: 320px;
  height: 343px;

  background-color: $color-nobel;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 340px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    height: 324px;
    margin-top: 26px;
  }
}

.contacts__picture-img {
  width: 320px;
  height: 343px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 340px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    height: 324px;
  }
}
