.footer {
  border-top: 1px solid rgba(45, 56, 63, 0.2);
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 140px;
  margin: 0 auto;
  padding-top: 23px;
  padding-bottom: 20px;

  color: $color-elephant;

  gap: 23px;

  @media (min-width: $tablet-width) {
    padding: 35px 45px 20px;

    gap: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 120px;
  }
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.footer__list,
.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.footer__list {
  display: grid;
  width: 290px;
  padding-top: 23px;

  gap: 15px 50px;
  grid-auto-flow: dense;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $mobile-width) {
    grid-template-areas:
      "item1 item2"
      "item3 item4"
      "item5 item6";

    .footer__item:nth-child(1) {
      grid-area: item1;
    }

    .footer__item:nth-child(2) {
      grid-area: item3;
    }

    .footer__item:nth-child(3) {
      grid-area: item5;
    }

    .footer__item:nth-child(4) {
      grid-area: item2;
    }

    .footer__item:nth-child(5) {
      grid-area: item4;
    }

    .footer__item:nth-child(6) {
      grid-area: item6;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    width: 494px;
    padding: 0;

    gap: 24px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    padding: 0 114px;
    width: 572px;

    gap: 30px;
  }
}

.footer__link {
  display: block;

  font-weight: $regular;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: inherit;
  text-decoration: none;
  word-break: break-word;
  letter-spacing: 0;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 16px;
    padding: 0;

    border: none;
  }

  &:hover {
    border-bottom: 1px solid $color-elephant;
  }

  &:focus {
    border: 1px solid $color-elephant;
  }

  &:active {
    color: $color-navy-blue;
  }

  &--disabled {
    color: $color-nobel;

    pointer-events: none;

    &:focus {
      color: $color-nobel;
    }
  }
}

.footer__list .footer__item:last-child .footer__link {
  @media (min-width: $tablet-width) {
    padding-left: 3px;
  }
}

.footer__phone-link {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    height: 100%;
    padding: 23px 0 21px 55px;

    font-weight: $semi-bold;
    font-size: 18px;
    line-height: 18px;
    color: inherit;
    text-decoration: none;
    word-break: break-word;
  }

  &:hover {
    color: rgba($color-navy-blue, 0.1);
  }

  &:focus {
    color: $color-navy-blue;
  }

  &:active {
    color: $color-resolution-blue;
  }

  &--disabled {
    color: $color-nobel;

    pointer-events: none;

    &:focus {
      color: $color-nobel;
    }
  }
}

.footer__social-list {
  justify-content: center;

  gap: 16px;

  @media (min-width: $tablet-width) {
    padding-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 21px 0;

    gap: 15px;
  }
}

.footer__social-item {
  @media (min-width: $desktop-width) {
    width: 30px;
    height: 30px;
  }
}

.footer__social-link {
  display: block;
  width: 32px;
  height: 30px;

  @media (min-width: $desktop-width) {
    width: 30px;
  }

  text-align: center;

  border: 1px solid rgba($color-elephant, 0.3);
  box-sizing: border-box;

  &::before {
    content: "";
    position: relative;

    display: block;

    background-color: $color-elephant;

    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;

    @media (min-width: $tablet-width) {
      top: 6px;
      left: 7px;
    }

    @media (min-width: $desktop-width) {
      top: 6px;
      left: 6px;
    }
  }

  &:hover {
    border: 1px solid $color-elephant;
  }

  &:focus {
    border: 1px solid transparent;
  }

  &:active {
    background-color: $color-navy-blue;
    border: 1px solid transparent;

    &::before {
      background-color: $color-default-white;
    }
  }

  &--disabled {
    border: 1px solid rgba($color-elephant, 0.3);

    pointer-events: none;

    &:focus {
      border: 1px solid rgba($color-elephant, 0.3);
    }
  }

  &--vk::before {
    top: 10px;
    left: 7px;

    width: 16px;
    height: 9px;

    mask-image: url("/__spritemap#sprite-vk-view");

    @media (min-width: $tablet-width) {
      left: 7px;
      top: 9px;
    }

    @media (min-width: $desktop-width) {
      left: 6px;
      top: 9px;
    }
  }

  &--ok::before {
    top: 6px;
    left: 6px;

    width: 17px;
    height: 16px;

    mask-image: url("/__spritemap#sprite-ok-view");

    @media (min-width: $desktop-width) {
      top: 5px;
      left: 5px;
    }
  }

  &--reddit::before {
    top: 6px;
    left: 7px;

    width: 16px;
    height: 15px;

    mask-image: url("/__spritemap#sprite-reddit-view");

    @media (min-width: $desktop-width) {
      left: 6px;
      top: 5px;
    }
  }
}

.footer__social-link--disabled::before {
  background-color: rgba($color-elephant, 0.3);
}

.footer__privacy-policy {
  margin: 0 auto;

  font-weight: $light;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: inherit;
  text-decoration: none;
  word-break: break-word;

  &:hover {
    color: $color-navy-blue;

    opacity: 0.5;
  }

  &:focus {
    color: $color-navy-blue;

    outline-offset: -8px;
  }

  &:active {
    color: $color-resolution-blue;

    opacity: inherit;
  }

  &--disabled {
    color: $color-nobel;

    pointer-events: none;

    &:focus {
      color: $color-default-white;
    }
  }
}

.footer__logo {
  display: block;
  width: 142px;
  height: 42px;

  fill: $color-elephant;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 7px 29px 9px;
  }
}
