.form {
  display: flex;
  flex-direction: column;
  min-height: 558px;
  padding: 40px 31px;

  background-image: image-set(url("../../img/form/form-mobile@2x.webp") type("image/webp") 2x, url("../../img/form/form-mobile@1x.webp") type("image/webp") 1x, url("../../img/form/form-mobile@2x.jpeg") type("image/jpeg") 2x, url("../../img/form/form-mobile@1x.jpeg") type("image/jpeg") 1x);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $tablet-width) {
    min-height: 600px;
    padding: 40px;

    background-image: image-set(url("../../img/form/form-tablet@2x.webp") type("image/webp") 2x, url("../../img/form/form-tablet@1x.webp") type("image/webp") 1x, url("../../img/form/form-tablet@2x.jpeg") type("image/jpeg") 2x, url("../../img/form/form-tablet@1x.jpeg") type("image/jpeg") 1x);
  }

  @media (min-width: $desktop-width) {
    min-height: 680px;
    padding: 40px;

    background-image: image-set(url("../../img/form/form-desktop@2x.webp") type("image/webp") 2x, url("../../img/form/form-desktop@1x.webp") type("image/webp") 1x, url("../../img/form/form-desktop@2x.jpeg") type("image/jpeg") 2x, url("../../img/form/form-desktop@1x.jpeg") type("image/jpeg") 1x);
  }
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 137px;

  color: $color-default-white;

  @media (min-width: $tablet-width) {
    padding-top: 147px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 257px;
  }

  h2 {
    max-width: 258px;
    margin: 0;
    padding-bottom: 18px;

    font-weight: $extra-bold;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    color: $color-default-white;
    word-break: break-word;

    @media (min-width: $tablet-width) {
      max-width: 355px;
      padding-bottom: 22px;

      font-size: 25px;
      line-height: 25px;
    }

    @media (min-width: $desktop-width) {
      max-width: 1360px;
      padding-bottom: 16.5px;

      font-size: 35px;
      line-height: 35px;
    }
  }

  p {
    max-width: 258px;
    margin: 0;
    padding-bottom: 20px;

    font-weight: $regular;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    word-break: break-word;

    @media (min-width: $tablet-width) {
      max-width: 360px;
      padding-bottom: 24px;

      font-size: 16px;
      line-height: 24px;

      br {
        display: none;
      }
    }

    @media (min-width: $desktop-width) {
      max-width: 1360px;
      padding-bottom: 39px;

      br {
        display: none;
      }
    }
  }

  p > span {
    @media (min-width: $tablet-width) {
      position: relative;
      right: 2px;
    }

    @media (min-width: $desktop-width) {
      right: 0;
    }
  }

  span:nth-of-type(2) {
    @media (max-width: $mobile-width-only) {
      padding-left: 3px;
    }

    @media (min-width: $tablet-width) {
      right: 0;
    }
  }
}

.form__container br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form__wrapper {
  form {
    position: relative;

    display: flex;
    flex-direction: column;

    gap: 8px;

    @media (min-width: $tablet-width) {
      gap: 10px;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row;
      width: 960px;
      margin: 0 auto;

      gap: 30px;
    }
  }
}

.form__phone,
.form__mail {
  display: block;
  width: 228px;
  height: 48px;
  padding: 0 14px;

  font-weight: $regular;
  font-size: 16px;
  line-height: 16px;

  background-color: $color-default-white;
  border: 1px solid rgba(2, 102, 193, 0.1);
  border-radius: 2px;

  @media (min-width: $tablet-width) {
    width: 298px;
    height: 53px;
    padding: 1px 27px 1px 33px;
  }
}

.form__phone::placeholder,
.form__mail::placeholder {
  color: transparent;
}

.form__phone-label,
.form__mail-label {
  position: absolute;
  top: 13px;
  left: 15px;

  color: $color-elephant;

  opacity: 0.5;

  transition: all 0.3s ease;

  pointer-events: none;

  @media (min-width: $tablet-width) {
    top: 16px;
    left: 30px;
  }

  @media (min-width: $desktop-width) {
    top: 17px;
  }
}

.form__mail-label {
  top: 13px;
  left: 15px;

  @media (min-width: $tablet-width) {
    top: 16px;
    left: 30px;
  }

  @media (min-width: $desktop-width) {
    top: 17px;
  }
}

.form__group {
  position: relative;
}

.form__mail.form__error,
.form__phone.form__error {
  color: $color-nobel;

  border-color: $color-torch-red;
}

.form__phone:valid,
.form__mail:valid {
  color: rgba($color-navy-blue, 0.5);

  border-color: $color-navy-blue;
}

.form__phone:focus + .form__phone-label,
.form__mail:focus + .form__mail-label,
.form__phone:not(:placeholder-shown) + .form__phone-label,
.form__mail:not(:placeholder-shown) + .form__mail-label {
  top: -10px;
  left: 10px;

  font-size: 12px;

  border: 1px solid rgba(2, 102, 193, 0.1);
  opacity: 0;
}

.form__phone:focus::placeholder,
.form__mail:focus::placeholder {
  color: $color-navy-blue;

  opacity: 0.5;
}

.form__phone:hover,
.form__mail:hover {
  border: 1px solid $color-navy-blue;

  @media (min-width: $tablet-width) {
    border-radius: 2px;
  }
}

.form__phone:disabled,
.form__mail:disabled {
  border-color: $color-nobel;
}

.form__phone:disabled + .form__phone-label,
.form__mail:disabled + .form__mail-label {
  color: $color-nobel;
}

.form__button {
  display: inline-flex;
  justify-content: center;
  width: 258px;
  padding: 21px 20px 19px;

  font-weight: $medium;
  font-size: 16px;
  line-height: 16px;
  color: $color-default-white;
  text-decoration: none;
  word-break: break-word;

  background-color: $color-navy-blue;
  border: 1px solid transparent;
  cursor: pointer;

  user-select: none;

  @media (min-width: $tablet-width) {
    width: 360px;
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
    padding: 20px;
    padding-bottom: 18px;

    border-radius: 0;
  }

  &:hover {
    color: $color-resolution-blue;

    background-color: $color-default-white;
    border: 1px solid $color-resolution-blue;
  }

  &:focus {
    color: $color-resolution-blue;

    background-color: $color-default-white;
  }

  &:active {
    color: $color-default-white;

    background-color: $color-resolution-blue;
  }

  &--disabled {
    background-color: $color-nobel;
    border: 1px solid $color-nobel;

    pointer-events: none;

    &:focus {
      color: $color-default-white;

      background-color: $color-nobel;
    }
  }
}
