.gallery__wrapper {
  position: relative;

  max-width: 320px;
  margin: 0 auto;
  padding: 20px 0px 3px;
  min-height: 250px;
  color: $color-elephant;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding-top: 60px;
    min-height: 380px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding-top: 119px;
    min-height: 450px;
  }
}

.gallery__list {
  display: grid;
  grid-template-rows: 266px;
  grid-template-columns: repeat(2, 158px);
  gap: 5px;
  padding: 0;
  padding-top: 31px;
  margin: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    grid-template-rows: 418px;
    grid-template-columns: repeat(4, 252px);
    padding-top: 21px;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: 463px;
    grid-template-columns: repeat(5, 284px);
  }
}


@media (max-width: $mobile-width) {
  .gallery__list .gallery__item:nth-child(3),
  .gallery__list .gallery__item:nth-child(4),
  .gallery__list .gallery__item:nth-child(5) {
    display: none;
  }
}

.gallery__item img {

    display: block;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    background-color:  rgba(0, 0, 0, 0.2);

}



.gallery__image-item--crop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery__text-wrapper {
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    padding: 0 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
  }

  p {
    font-size: 12px;
    font-weight: $regular;
    line-height: 18px;
    word-break: break-word;
    margin: 0;
    padding-top: 10px;

    @media (min-width: $tablet-width) {
      font-size: 14px;
      line-height: 22px;

      max-width: 355px;
      padding-top: 30px;
    }

    @media (min-width: $desktop-width) {
      font-size: 16px;
      line-height: 26px;

      max-width: 670px;
      padding-top: 26px;
    }
  }

  span {
    @media (min-width: $tablet-width) {
      white-space: nowrap;
    }

    @media (min-width: $desktop-width) {
      white-space: wrap;
    }
  }
}

.gallery__title {
  margin: 0;
  font-weight: $extra-bold;
  font-size: 22px;
  line-height: 22px;
  padding-top: 16px;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    max-width: 570px;
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    max-width: max-content;
    font-size: 35px;
    line-height: 35px;
  }
}

.gallery__buttons {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 146px;
    right: 45px;

    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.gallery__button--prev {
  padding-right: 7px;
}
