.gallery__wrapper {
  position: relative;

  max-width: 1440px;
  min-height: 250px;
  margin: 0 auto;
  padding: 20.5px 0 3px;

  color: $color-elephant;

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 380px;
    padding: 44px 0 3.5px;
  }

  @media (min-width: $desktop-width) {
    min-height: 450px;
    padding-top: 123px;

    br {
      display: none;
    }
  }
}

.gallery__swiper {
  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.gallery__swiper-wrapper {
  margin: 0;
  padding: 0;

  list-style: none;
}

.gallery__item {
  max-width: 158px;
  max-height: 266px;
  margin-right: 5px;

  @media (min-width: $tablet-width) {
    max-height: 418px;
  }

  &--wide {
    max-width: 157px;
    height: auto;

    @media (min-width: $tablet-width) {
      max-width: 252px;
    }

    @media (min-width: $desktop-width) {
      max-width: 284px;
      max-height: 463px;
      margin-right: 5px;
    }
  }

  img {
    display: block;
    width: 100%;
    max-width: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    object-fit: cover;
  }
}

.gallery__item--first,
.gallery__item--second,
.gallery__item--third {
  max-width: 158px;
  margin-right: 5px;

  @media (min-width: $tablet-width) {
    max-width: 253px;
  }

  @media (min-width: $desktop-width) {
    max-width: 284px;
    height: auto;
  }

  img {
    max-height: 266px;

    @media (min-width: $tablet-width) {
      max-height: 418px;
    }

    @media (min-width: $desktop-width) {
      max-height: 463px;
    }
  }
}

.gallery__item-wrapper {
  display: flex;
  flex-direction: column;

  gap: 7px;

  img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    object-fit: cover;
  }
}

.gallery__image-wrapper {
  img {
    height: 130px;
  }

  @media (min-width: $tablet-width) {
    img {
      height: 210px;
    }
  }

  @media (min-width: $desktop-width) {
    &--top img {
      height: 233px;
    }

    &--bottom img {
      height: 223px;
    }
  }

  &--top img {
    height: 135px;

    @media (min-width: $tablet-width) {
      height: 210px;
    }

    @media (min-width: $desktop-width) {
      height: 233px;
    }
  }

  &--bottom img {
    height: 124px;

    @media (min-width: $tablet-width) {
      height: 201px;
    }

    @media (min-width: $desktop-width) {
      height: 223px;
    }
  }
}

.gallery__text-wrapper {
  padding: 0 15px 30.5px;

  @media (min-width: $tablet-width) {
    padding: 0 45px 20.5px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px 46px;
  }

  p {
    margin: 0;
    padding-top: 10px;

    font-weight: $regular;
    font-size: 12px;
    line-height: 18px;
    word-break: break-word;

    @media (min-width: $tablet-width) {
      max-width: 420px;
      padding-top: 13px;

      font-size: 14px;
      line-height: 22px;
    }

    @media (min-width: $desktop-width) {
      max-width: 592px;
      padding-top: 23px;

      font-size: 16px;
      line-height: 24px;
    }
  }

  span {
    @media (min-width: $tablet-width) {
      white-space: nowrap;
    }

    @media (min-width: $desktop-width) {
      white-space: wrap;
    }
  }
}

.gallery__title {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 17px;

  font-weight: $extra-bold;
  font-size: 22px;
  line-height: 22px;

  @media (min-width: $tablet-width) {
    max-width: 570px;

    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    max-width: max-content;
    padding: 0;

    font-size: 35px;
    line-height: 35px;
  }
}

.gtraining__title-big {
  @media (min-width: $desktop-width) {
    top: 102px;
  }
}

.gallery__buttons {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 146px;
    right: 45px;

    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.gallery__button--prev {
  padding-right: 7px;
}
