.hero__swiper-slide {
  position: relative;

  max-width: stretch;
  min-height: 431.8px;
  padding: 136.5px 0 0 40px;

  &--second {
    min-height: 433px;
    padding-top: 134.5px;
  }

  &--third {
    min-height: 433px;
    padding-top: 121.5px;
    padding-bottom: 3px;
  }

  @media (min-width: $tablet-width) {
    min-height: 692px;
    padding: 342px 0 0 45px;

    &--second {
      min-height: 897px;
      padding-top: 137px;
    }

    &--third {
      padding-top: 342px;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 520px;
    padding: 200px 120px 80px;
  }
}

.hero__swiper-wrapper .hero__swiper-slide:nth-child(2) .hero__info {
  &::after {
    content: "";
    position: absolute;
    bottom: -270px;
    left: 320px;
    z-index: 3;

    width: 236px;
    height: 312px;

    background-image: image-set(url("../../img/hero/kamchatka/photo-cards/photo-card-right-tablet@2x.webp") type("image/webp") 2x, url("../../img/hero/kamchatka/photo-cards/photo-card-right-tablet@1x.webp") type("image/webp") 1x, url("../../img/hero/kamchatka/photo-cards/photo-card-right-tablet@2x.png") type("image/png") 2x, url("../../img/hero/kamchatka/photo-cards/photo-card-right-tablet@2x.png") type("image/png") 1x);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-width: $desktop-width) {
      bottom: 75px;
      left: 923px;

      width: 277px;
      height: 366px;

      background-image: image-set(url("../../img/hero/kamchatka/photo-cards/photo-card-right-desktop@2x.webp") type("image/webp") 2x, url("../../img/hero/kamchatka/photo-cards/photo-card-right-desktop@1x.webp") type("image/webp") 1x, url("../../img/hero/kamchatka/photo-cards/photo-card-right-desktop@2x.png") type("image/png") 2x, url("../../img/hero/kamchatka/photo-cards/photo-card-right-desktop@2x.png") type("image/png") 1x);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -260px;
    left: 115px;
    z-index: -1;

    width: 266px;
    height: 351px;

    background-image: image-set(url("../../img/hero/kamchatka/photo-cards/photo-card-left-tablet@2x.webp") type("image/webp") 2x, url("../../img/hero/kamchatka/photo-cards/photo-card-left-tablet@1x.webp") type("image/webp") 1x, url("../../img/hero/kamchatka/photo-cards/photo-card-left-tablet@2x.png") type("image/png") 2x, url("../../img/hero/kamchatka/photo-cards/photo-card-left-tablet@1x.png") type("image/png") 1x);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-width: $desktop-width) {
      bottom: 125px;
      left: 790px;

      width: 308px;
      height: 407px;

      background-image: image-set(url("../../img/hero/kamchatka/photo-cards/photo-card-left-desktop@2x.webp") type("image/webp") 2x, url("../../img/hero/kamchatka/photo-cards/photo-card-left-desktop@1x.webp") type("image/webp") 1x, url("../../img/hero/kamchatka/photo-cards/photo-card-left-desktop@2x.png") type("image/png") 2x, url("../../img/hero/kamchatka/photo-cards/photo-card-left-desktop@1x.png") type("image/png") 1x);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  .hero__background-picture {
    display: block;
    width: 100%;
    height: 100%;

    background-color: $color-navy-blue;
  }

  .hero__background-img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $hero-gradient;
  }
}

.hero__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 330px;
  padding-right: 41px;
  margin: 0 auto;
  position: relative;

  color: $color-default-white;

  @media (min-width: $tablet-width) {
    max-width: 678px;
    max-height: 530px;
    padding-right: 45px;

  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    display: block;
    align-items: normal;
    max-height: 520px;
    padding: 0;
  }

  h2 {
    width: 290px;
    margin: 0;
    margin-bottom: 15px;
    padding-top: 8px;

    font-weight: $extra-bold;
    font-size: 26px;
    line-height: 26px;
    text-align: center;
    color: $color-default-white;
    word-break: break-word;

    @media (min-width: $tablet-width) {
      width: auto;
      max-width: 678px;
      margin-bottom: 13px;
      padding: 0;

      font-size: 56px;
      line-height: 56px;
    }

    @media (min-width: $desktop-width) {
      max-width: 940px;
      margin-bottom: 22px;

      font-size: 77px;
      line-height: 77px;
      text-align: left;
    }
  }

  p {
    max-width: 290px;
    margin: 0;
    margin-bottom: 60px;

    font-weight: $regular;
    font-size: 15px;
    line-height: 20px;
    text-align: center;

    @media (min-width: $tablet-width) {
      max-width: 500px;
      margin-bottom: 37px;

      font-size: 17px;
      line-height: 24px;
    }

    @media (min-width: $desktop-width) {
      max-width: 420px;
      margin-bottom: 37px;

      text-align: left;
    }
  }
}

.hero__swiper-slide--third .hero__info h1 {
  max-width: 925px;
}

.hero__swiper-slide--third .hero__info p {
  max-width: 442px;
}

.hero__swiper-slide--second .hero__info p {
  max-width: 460px;
}

.hero__button {
  display: inline-flex;
  justify-content: center;
  width: 140px;
  padding: 20px 19px 19px;

  font-weight: $medium;
  font-size: 16px;
  line-height: 16px;
  color: $color-default-white;
  text-decoration: none;
  word-break: break-word;

  background-color: $color-navy-blue;
  border: 1px solid transparent;
  cursor: pointer;

  user-select: none;

  &:hover {
    color: $color-resolution-blue;

    background-color: $color-default-white;
    border: 1px solid $color-resolution-blue;
  }

  &:focus {
    color: $color-resolution-blue;

    background-color: $color-default-white;
  }

  &:active {
    color: $color-default-white;

    background-color: $color-resolution-blue;
  }

  &--disabled {
    background-color: $color-nobel;
    border: 1px solid $color-nobel;

    pointer-events: none;

    &:focus {
      color: $color-default-white;

      background-color: $color-nobel;
    }
  }
}

.hero__description {
  display: flex;
  margin-top: 134px;

  gap: 10px;
}

.hero__description-item {
  display: none;

  @media (min-width: $desktop-width) {
    position: relative;

    display: inline-block;
    padding: 13px 19px 13px 39.5px;

    font-weight: $regular;
    font-size: 12px;
    line-height: 16px;

    border: 1px solid rgba(255, 255, 255, 0.5);

    &::before {
      content: "";
      position: absolute;
      top: 15px;
      left: 19px;
      z-index: 1;

      width: 12px;
      height: 12px;

      background-repeat: no-repeat;
      background-position: center;
    }

    &--time {
      &::before {
        background-image: url("/__spritemap.07d66cd3#sprite-moon-view");
      }
    }

    &--complexity {
      &::before {
        background-image: url("/__spritemap.07d66cd3#sprite-level-view");
      }
    }
  }
}

.hero__swiper-pagination.swiper-pagination-horizontal.hero__swiper-pagination--right {
  bottom: 40px;
  left: 0;

  display: flex;
  justify-content: center;
  width: 100%;

  gap: 12px;

  @media (min-width: $tablet-width) {
    bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    bottom: 94px;
    left: 1216px;

    justify-content: normal;
    width: 150px;
  }
}

.hero__swiper-pagination .swiper-pagination-bullet {
  right: 30px;

  width: 14px;
  height: 14px;

  background-color: transparent;
  border: 1px solid $color-default-white;
  opacity: 1;

  gap: 11px;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
  }

  &:hover {
    background-color: $color-gainsboro;
  }

  &:focus {
    outline: 1px solid rgba($color-default-white, 0.5);
    outline-offset: 1px;
  }

  &:active {
    background-color: rgba($color-default-white, 0.5);
  }
}

.hero__swiper-pagination .swiper-pagination-bullet-active {
  background-color: $color-default-white;
}
