.reviews__wrapper {
  position: relative;

  max-width: 320px;
  min-height: 200px;
  margin: 0 auto;
  padding: 20px 15px;
  overflow: hidden;

  color: $color-elephant;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 60px 0 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1320px;
    padding: 146px 0 77px 120px;
  }
}

.reviews__swiper.swiper {
  padding-top: 15px;
  overflow: visible;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 35px 0 39px 45px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 10px;
    padding-top: 37px;
  }
}

.reviews__swiper-slide.swiper-slide {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 20px;

  background-color: $color-default-white;
  box-shadow: 0 0 20px 0 rgba(28, 51, 116, 0.1);

  @media (min-width: $tablet-width) {
    display: grid;
    width: 515px;
    min-height: 237px;
    padding: 20px 30px 20px 20px;

    box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);

    gap: 30px;
    grid-template-columns: 186px 1fr;
  }

  @media (min-width: $desktop-width) {
    width: 640px;
    min-height: 253px;
    padding: 20px 40px 20px 20px;

    box-shadow: 0 0 20px 0 rgba(28, 51, 116, 0.1);

    gap: 30px;
    grid-template-columns: 258px 1fr;
  }
}

.reviews__header-wrapper {
  max-width: 900px;

  @media (min-width: $tablet-width) {
    max-width: 500px;
  }

  @media (min-width: $desktop-width) {
    max-width: 900px;
  }
}

.reviews__title {
  margin: 0;
  padding-top: 17px;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-left: 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.reviews__title-big {
  left: 15px;

  @media (min-width: $tablet-width) {
    left: 45px;
  }

  @media (min-width: $desktop-width) {
    top: 125px;
    left: 120px;
  }
}

.reviews__info {
  display: flex;
  flex-direction: column;
  padding-right: 10px;

  @media (min-width: $tablet-width) {
    padding: 4.5px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-bottom: 10px;
    margin-top: -2px;
  }

  p {
    margin: 0;
    padding-top: 19px;
    padding-bottom: 10px;

    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    @media (min-width: $tablet-width) {
      padding-top: 0;
    }

    @media (min-width: $desktop-width) {
      padding-top: 0;

      font-size: 14px;
      line-height: 22px;
    }
  }

  p ~ p {
    padding-top: 0;
    padding-bottom: 0;
  }

  h3 {
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;

    @media (min-width: $tablet-width) {
      font-size: 13px;
      line-height: 13px;
    }
  }
}

.reviews__name {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 8px;

  font-weight: $bold;
  font-size: 21px;
  line-height: 21px;

  @media (min-width: $tablet-width) {
    padding-top: 26px;
    padding-bottom: 6px;

    font-size: 13px;
    line-height: 13px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 4px;
    padding-bottom: 7px;
  }
}

.reviews__birth {
  margin: 0;

  font-weight: $light;
  font-size: 12px;
  line-height: 100%;
}

.reviews__buttons {
  position: absolute;
  top: 120px;
  right: 120px;

  display: none;

  gap: 4px;

  @media (min-width: $tablet-width) {
    top: 60px;
    right: 45px;

    display: block;
  }

  @media (min-width: $desktop-width) {
    top: 145px;
    right: 120px;
  }
}

.reviews__button--prev {
  padding-right: 7px;
}

.reviews__img-wrapper {
  max-width: 250px;
  max-height: 169px;

  @media (min-width: $tablet-width) {
    max-width: 258px;
    max-height: 253px;
  }
}

.reviews__picture {
  display: block;
  width: 250px;
  height: 169px;

  background-color: $color-nobel;

  @media (min-width: $tablet-width) {
    width: 186px;
    height: 237px;
  }

  @media (min-width: $desktop-width) {
    width: 258px;
    height: 253px;
  }

  .reviews__picture-img {
    width: 250px;
    height: 169px;

    @media (min-width: $tablet-width) {
      width: 186px;
      height: 237px;
    }

    @media (min-width: $desktop-width) {
      width: 258px;
      height: 253px;
    }
  }
}
