.tours {
  position: relative;

  min-height: 416px;

  @media (min-width: $tablet-width) {
    min-height: 500px;
  }

  &::before {
    content: "";
    position: absolute;

    height: 595px;
    width: 141px;

    right: 0;
    z-index: -1;

    background-image: image-set(url("/img/background-clouds/clouds-mobile@2x.webp") type("image/webp") 2x,
    url("/img/background-clouds/clouds-mobile@1x.webp") type("image/webp") 1x,
    url("/img/background-clouds/clouds-mobile@2x.png") type("image/png") 2x,
    url("/img/background-clouds/clouds-mobile@1x.png") type("image/png") 1x);
    background-repeat: no-repeat;
    background-position-y: 10px;
    background-size: cover;

    @media (min-width: $tablet-width) {
      height: 1538px;
      width: 425px;

      background-image: image-set(url("/img/background-clouds/clouds-1-tablet@2x.webp") type("image/webp") 2x,
      url("/img/background-clouds/clouds-1-tablet@1x.webp") type("image/webp") 1x,
      url("/img/background-clouds/clouds-1-tablet@2x.png") type("image/png") 2x,
      url("/img/background-clouds/clouds-1-tablet@1x.png") type("image/png") 1x);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media (min-width: $desktop-width) {
      height: 1504px;
      width: 602px;


      background-image: image-set(url("/img/background-clouds/clouds-1-desktop@2x.webp") type("image/webp") 2x,
      url("/img/background-clouds/clouds-1-desktop@1x.webp") type("image/webp") 1x,
      url("/img/background-clouds/clouds-1-desktop@2x.png") type("image/png") 2x,
      url("/img/background-clouds/clouds-1-desktop@1x.png") type("image/png") 1x);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.tours__wrapper {
  position: relative;
  z-index: 3;

  max-width: 290px;
  padding: 22px 15px 20px;
  margin: 0 auto;

  color: $color-default-white;

  @media (min-width: $tablet-width) {
    max-width: 678px;
    padding: 40px 45px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    padding: 104px 120px 99px;
  }
}

.tours__clouds {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.tours__swiper-wrapper {
  padding-top: 23px;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
    padding-bottom: 53px;
  }
}

.tours__swiper.swiper {
  width: 290px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 678px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.tours__swiper-slide {
  position: relative;

  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 416px;

  background-color: $color-navy-blue;

  @media (min-width: $tablet-width) {
    max-width: 330px;
  }

  @media (min-width: $desktop-width) {
    max-width: 380px;

    &--third {
      .tours__slide-header {
        &::after {
          top: 114px;
        }
      }
    }
  }
}

.tours__buttons {
  position: absolute;
  top: 120px;
  right: 120px;

  display: none;

  gap: 4px;

  @media (min-width: $tablet-width) {
    top: 60px;
    right: 45px;

    display: block;
  }

  @media (min-width: $desktop-width) {
    top: 120px;
    right: 120px;
  }
}

.tours__button--prev {
  padding-right: 7px;
}

.tours__background {
  position: absolute;

  width: 290px;
  min-height: 416px;

  color: $color-default-white;

  background-color: $color-nobel;

  inset: 0;

  @media (min-width: $tablet-width) {
    width: 330px;
  }

  @media (min-width: $desktop-width) {
    width: 380px;
  }

  .tours__background-img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;

    object-fit: cover;

    @media (min-width: $tablet-width) {
      width: 330px;
    }

    @media (min-width: $desktop-width) {
      width: 380px;
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $tours-gradient;
  }
}

.tours__title {
  padding-top: 16px;
  padding-bottom: 17px;

  word-break: break-word;

  @media (min-width: $tablet-width) {
    max-width: 570px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    max-width: 870px;
    padding-bottom: 0;
    padding-top: 19px;
  }
}

.tours__info {
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 290px;
  min-height: 355.5px;
  padding: 30px 20px 30.5px;

  color: $color-default-white;

  @media (min-width: $tablet-width) {
    max-width: 290px;
  }

  @media (min-width: $desktop-width) {
    max-width: 340px;
  }
}

.tours__details-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;

  font-weight: $medium;
  font-size: 12px;
  line-height: 12px;
  padding-bottom: 16px;
}

.tours__place {
  position: relative;

  max-width: fit-content;
  height: fit-content;
  margin: 0;

  padding: 8px 12.5px 8px 34px;

  text-align: right;
  word-break: break-word;

  background-color: $color-navy-blue;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 14px;
    z-index: 1;

    width: 13px;
    height: 13px;

    background-image: url("/__spritemap#sprite-pin-view");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.tours__swiper-slide:nth-of-type(1) .tours__place {
  margin: 0;
}

.tours__duration-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 14px;
}

.tours__days,
.tours__nights {
  position: relative;

  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 1px;

  word-break: break-word;

  gap: 12px;
}

.tours__nights-svg {
  padding: 2px;
}

.tours__slide-header {
  position: relative;

  margin: 0;
  padding-bottom: 30px;

  font-size: 24px;
  line-height: 28px;
  word-break: break-word;
}

.tours__details {
  z-index: 1;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;

  &::after {
    content: "";
    position: absolute;
    bottom: 77px;
    z-index: 1;

    width: 80px;
    height: 1px;

    background-color: $color-default-white;
    opacity: 0.2;
  }
}

.tours__date,
.tours__group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}


.tours__complexity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
}


.tours__details-subheading {
  position: relative;

  margin: 0;
  padding-right: 1px;

  font-weight: $light;
  font-size: 12px;
  line-height: 12px;
  word-break: break-word;
}

.tours__details-c-rate {
  display: flex;
  justify-content: space-between;
  width: 84px;
  margin: 0;
}

.tours__details-description {
  font-weight: $bold;
  font-size: 13px;
  line-height: 13px;
  word-break: break-word;
  padding-right: 1px;

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.tours__show-button {
  position: relative;

  display: block;
  width: 190px;
  margin: 0 auto;
  padding: 11px 14px 10px 12px;

  font-weight: $bold;
  font-size: 14px;
  line-height: 14px;
  color: $color-elephant;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.56px;
  word-break: break-word;

  @media (min-width: $tablet-width) {
    width: 214px;

    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.64px;
  }

  &:hover {
    color: $color-navy-blue;

    opacity: 0.1;
  }

  &:focus {
    color: $color-navy-blue;
  }

  &:active {
    color: $color-resolution-blue;

    opacity: inherit;
  }

  &--disabled {
    color: $color-nobel;

    pointer-events: none;

    &:focus {
      color: $color-default-white;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 11px;
    right: 7px;
    z-index: 1;

    width: 14px;
    height: 14px;

    background-color: $color-elephant;

    mask-image: url("/__spritemap#sprite-arrow-small-view");
    mask-position: center;
    mask-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 11px;
    }

    @media (min-width: $desktop-width) {
      top: 12px;
    }
  }

  &:hover::after,
  &:focus::after,
  &:active::after {
    background-color: $color-navy-blue;
  }

  &--disabled::after {
    background-color: $color-nobel;
  }
}
