.training {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 160px;
    z-index: -1;

    width: 465px;
    height: 280px;

    background-image: image-set(url("/img/background-clouds/clouds-2-tablet@2x.webp") type("image/webp") 2x,
    url("/img/background-clouds/clouds-2-tablet@1x.webp") type("image/webp") 1x,
    url("/img/background-clouds/clouds-2-tablet@2x.png") type("image/png") 2x,
    url("/img/background-clouds/clouds-2-tablet@1x.png") type("image/png") 1x);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-width: $desktop-width) {
      width: 633px;
      height: 280px;

      background-image: image-set(url("/img/background-clouds/clouds-2-desktop@2x.webp") type("image/webp") 2x,
      url("/img/background-clouds/clouds-2-desktop@1x.webp") type("image/webp") 1x,
      url("/imgbackground-clouds/clouds-2-desktop@2x.png") type("image/png") 2x,
      url("/img/background-clouds/clouds-2-desktop@1x.png") type("image/png") 1x);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }
}

.training__wrapper {
  position: relative;
  z-index: 3;

  max-width: 290px;
  min-height: 200px;
  margin: 0 auto;
  padding: 20px 15px 21px;
  overflow: hidden;

  color: $color-elephant;

  @media (min-width: $tablet-width) {
    max-width: 678px;
    min-height: 314px;
    padding: 40px 45px 42px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    min-height: 330px;
    padding: 45px 120px 56px;

    &::after {
      right: 0;
      bottom: -5px;
    }
  }
}

.training__title {
  margin: 0;
  padding-top: 17px;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 19px;
    padding-bottom: 31px;
  }
}

.training__title-big {
  @media (min-width: $desktop-width) {
    top: 45px;
  }
}

.training__instructors {
  position: relative;
}

.training__instructors-header {
  margin: 0;
  padding-top: 29px;

  word-break: break-word;

  @media (min-width: $tablet-width) {
    max-width: 590px;
    padding-top: 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
    padding-top: 62px;
  }
}

.training__buttons {
  position: absolute;
  top: 120px;
  right: 120px;

  display: none;

  gap: 4px;

  @media (min-width: $tablet-width) {
    top: 27px;
    right: 0;

    display: block;
  }

  @media (min-width: $desktop-width) {
    top: 59px;
  }
}

.training__button--prev {
  padding-right: 7px;
}

.training__swiper.swiper {
  width: 290px;
  margin: 0 auto;
  padding-top: 23px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 678px;
    padding-top: 37px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    padding-top: 17px;
  }
}

.training__swiper-slide {
  box-sizing: border-box;
  max-width: 290px;
  min-height: 354px;
  padding: 14px;
  overflow: hidden;

  background-color: $color-default-white;
  border: 1px solid rgba(2, 102, 193, 0.1);

  @media (min-width: $tablet-width) {
    max-width: 213px;
    min-height: 388px;
    padding: 14px;
  }

  @media (min-width: $desktop-width) {
    max-width: 285px;
    min-height: 356px;
  }

  @media (max-width: $mobile-width-only) {
    .swiper-slide:first-child {
      margin: 0;
    }
  }
}

.training__name-wrapper {
  position: relative;

  h3 {
    max-width: 220px;
    margin: 0;
    padding-top: 16px;

    font-weight: $bold;
    font-size: 14px;
    line-height: 16px;
    word-break: break-word;

    @media (min-width: $tablet-width) {
      max-width: 150px;
    }

    @media (min-width: $desktop-width) {
      max-width: 220px;
    }
  }
}

.training__link {
  position: absolute;
  top: 15px;
  right: 1px;

  width: 22px;
  height: 21.5px;
  padding-top: 0.5px;

  text-align: center;

  border: 1px solid rgba($color-elephant, 0.3);

  &::before {
    content: "";
    position: relative;
    top: 7px;
    left: 4px;

    display: block;
    width: 14px;
    height: 8px;

    background-color: $color-elephant;

    mask-image: url("/__spritemap#sprite-vk-view");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
  }

  &:hover {
    border: 1px solid $color-elephant;
  }

  &:focus {
    border: 1px solid transparent;
  }

  &:active {
    background-color: $color-navy-blue;
    border: 1px solid transparent;

    &::before {
      background-color: $color-default-white;
    }
  }

  &--disabled {
    border: 1px solid rgba($color-elephant, 0.3);

    pointer-events: none;

    &:focus {
      border: 1px solid rgba($color-elephant, 0.3);
    }
  }
}

.training__link--disabled::before {
  background-color: rgba($color-elephant, 0.3);
}


.training__info p {
  margin: 0;
  padding-top: 13px;

  font-weight: $regular;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    padding-top: 14px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 13px;
  }
}

.training__text-wrapper {
  p {
    margin: 0;
    padding-top: 16px;

    font-weight: $regular;
    font-size: 14px;
    line-height: 20px;

    @media (min-width: $tablet-width) {
      max-width: 820px;

      font-size: 16px;
      line-height: 24px;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }
}

.training__process {
  position: relative;
}

.training__process-header {
  margin: 0;
  padding: 26px 0 23px;

  font-weight: $bold;
  font-size: 16px;
  line-height: 16px;


  @media (min-width: $tablet-width) {
    padding-top: 27px;
    padding-bottom: 100px;

    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 58px;
    padding-bottom: 26px;

    font-size: 21px;
    line-height: 21px;
  }
}

.training__process-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 200px;
  margin: 0 auto;
  padding: 0;
  padding-left: 36px;

  list-style-type: none;

  gap: 25px;

  @media (min-width: $tablet-width) {
    display: grid;
    max-width: max-content;
    margin: 0;
    padding: 0;

    gap: 104px 120px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;

    gap: 10px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 86px;
    left: 6px;
    z-index: 1;

    width: 2px;
    height: 183px;

    background-color: $color-navy-blue;
    transform: rotate(180deg);
  }

  @media (min-width: $tablet-width) {
    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 80px;

    &::after {
      top: 100%;
      left: 34px;

      display: block;
      width: 1166px;
      height: 2px;

      transform: none;
    }
  }
}

.training__process-item:nth-child(n+5) {
  display: none;
}

.training__process-item {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: -63px;
    z-index: 1;

    width: 14px;
    height: 14px;

    background-color: $color-navy-blue;
    border-radius: 50%;
  }

  @media (min-width: $tablet-width) {
    padding-left: 35px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 45px;

    &::after {
      top: 93%;
      left: 20px;

      display: block;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 1px;
    left: -34px;
    z-index: 1;

    width: 25px;
    height: 25px;

    background-repeat: no-repeat;
    background-position: center;
  }
}

.training__process-item:nth-child(3)::after {
  @media (min-width: $desktop-width) {
    left: 0;
  }
}

.training__process-item--map {
  &::before {
    background-image: url("/__spritemap#sprite-map-view");
  }

  @media (min-width: $tablet-width) {
    grid-area: 1/1;

    &::before {
      top: 2px;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      left: 10px;
    }
  }
}

.training__process-item--boots {
  &::before {
    background-image: url("/__spritemap#sprite-boots-view");
    background-size: 25px 21px;
  }

  @media (min-width: $tablet-width) {
    grid-area: 2/1;

    &::before {
      top: 2px;
      left: -1px;
    }

    @media (min-width: $desktop-width) {
      &::before {
        left: 10px;
      }
    }
  }
}

.training__process-item--tree {
  &::before {
    left: -34px;

    background-image: url("/__spritemap#sprite-trees-view");
  }

  @media (min-width: $tablet-width) {
    padding-left: 50px;

    grid-area: 2/2;

    &::before {
      top: 2px;
      left: 14px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 46px;

    &::before {
      top: 2px;
      left: 10px;
    }
  }
}

.training__process-item--mountain {
  &::before {
    background-image: url("/__spritemap#sprite-mountains-view");
  }

  @media (min-width: $tablet-width) {
    padding-left: 50px;

    grid-area: 1/2;

    &::before {
      top: 2px;
      left: 15px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 45px;

    &::before {
      top: 2px;
      left: 10px;
    }
  }
}

.training__process-text {
  margin: 0;

  font-weight: $regular;
  font-size: 12px;
  line-height: 18px;
  word-break: break-word;

  @media (min-width: $tablet-width) {
    max-width: 221px;

    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    max-width: 198px;

    font-size: 16px;
    line-height: 24px;
  }
}

.training__picture {
  display: block;
  width: 260px;
  height: 200px;

  background-color: $color-nobel;

  @media (min-width: $tablet-width) {
    width: 182px;
  }

  @media (min-width: $desktop-width) {
    width: 255px;
  }

  .training__picture-img {
    width: 260px;
    height: 200px;

    @media (min-width: $tablet-width) {
      width: 182px;
    }

    @media (min-width: $desktop-width) {
      width: 255px;
    }
  }
}
