html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
}

html {
  font-weight: $regular;
  font-size: 16px;
  line-height: 24px;
  font-family: $montserrat;
  color: $color-elephant;
  font-style: normal;

  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  min-width: $mobile-width;
  height: 100%;

  background-color: $color-default-white;

  h2 {
    margin: 0;

    font-weight: $extra-bold;
    font-size: 22px;
    line-height: 22px;
    color: $color-elephant;

    @media (min-width: $tablet-width) {
      font-size: 25px;
      line-height: 25px;
    }

    @media (min-width: $desktop-width) {
      font-size: 35px;
      line-height: 35px;
    }
  }
}

.title--big {
  position: absolute;
  top: 23px;

  margin: 0;

  font-weight: $extra-bold;
  font-size: 26px;
  line-height: 26px;
  color: $color-elephant;

  opacity: 0.03;

  @media (min-width: $tablet-width) {
    top: 45px;
    font-size: 40px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    top: 105px;
    font-size: 55px;
    line-height: 55px;
  }
}
